/* CSS for Header Components */


.width {
  width: 89%;
  border: none;
}

.firstpara {
  margin: 99px 0px 0px 66px;
  font-size: 2.5rem;
}

.secondpara {
  margin: 14px 0px 0px 314px;
  font-family: cursive;
  font-size: 1.5rem;
}

.secondpara .yellow {
  color: yellow
}

.secondpara .black {
  color: black;
}

/* CSS For Song Component */
.songs {
  width: 90%;

}

.text {
  color: #ccc;
  font-size: 1rem;
  margin: 50px;
}

hr {
  width: 78%;
  float: right;
  margin: -59px 69px 0px 0px;
  color: #000;
  height: 2px;
}

.hr2 {
  margin-top: -46px;
  margin-right: 82px;
  color: black;
}

.text2 {
  color: #ccc;
  font-size: 1rem;
  margin: -9px 0px 39px 50px;
}

.cardStyle {
  width: 10rem;
  margin: 5px;
  border: none;
  min-width: 110px;
}

.overflow {
  overflow-x: auto;
  margin-left: 12px;
}

.overflow::-webkit-scrollbar {
  width: 0px;

}